<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- pour rendre le site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <%= render 'layouts/navigation' %>
  <!-- alert : déconnexion et connexion avec succès -->
  <%= render 'shared/message' %>

<div class="container-fluid"><%= yield %></div>   

<%= render 'layouts/footer' %>

</body>
</html>
